<%= form_with(model: incident, local: true) do |form| %>
  <% if incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recordnumberclient %>
    <%= form.text_field :recordnumberclient, id: :incident_recordnumberclient %>
  </div>

  <div class="field">
    <%= form.label :recordnumber %>
    <%= form.text_field :recordnumber, id: :incident_recordnumber %>
  </div>

  <div class="field">
    <%= form.label :group %>
    <%= form.text_field :group, id: :incident_group %>
  </div>

  <div class="field">
    <%= form.label :module %>
    <%= form.text_field :module, id: :incident_module %>
  </div>

  <div class="field">
    <%= form.label :dms %>
    <%= form.text_field :dms, id: :incident_dms %>
  </div>

  <div class="field">
    <%= form.label :dateexe %>
    <%= form.text_field :dateexe, id: :incident_dateexe %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
